body{
    background-color: #f5f4f1!important;
}
.linea{
    border-bottom: 1px solid #0d0d0d;
}
@font-face {
    font-family: 'Light' !important;
    src: url("../fonts/Light/Roboto-Light.woff2"), url("../fonts/Light/Roboto-Light.woff") format("woff"), url("../fonts/Light/Roboto-Light.ttf") format("truetype");
    font-weight: bold !important;
    font-style: normal !important;
}

.vr22 {
    display: inline-block !important;
    width: 100% !important;
}

.mobil {
    background-image: url("../img/mobil.jpg");
    width: 100%;
    height: 40%;
}
.eronda{
    width: 100%;
 }
.eronda div{
    display: inline-block!important;
    width: 24%;
    border: 1px solid #3e2723;
    padding: 1em;
    margin: 1em;
}
.radiografia_ver{
    padding: 2em!important;
}
.dostabla{
    width: 40%!important;
    display: inline-block!important;
}
.catalogodiv {
    width: 90%;
}

.bo-1 {
    border: 1px solid #0f0f0f !important;
    padding: 1em !important;
}

.float {
    position: fixed;
}

.no-margenes{
    margin-bottom: 0px!important;
    margin-top: 0px !important;
}
.visualizar {
    background-color: #004c6d!important;
    color: white!important;
    width: 100%!important;
}

.visualizar2 {
    background-color: #004c6d !important;
    color: white !important;
    width: 100% !important;
}
.eronda2 p{
    padding: 1em!important;
}
.eronda2{
    border: 1px solid #0f9d58!important;
    border-radius: 6px!important;
}
.visualizar div {
    padding: 0.5em!important;
    margin: 1em!important;
    display: inline-block!important;
    width: 15%!important;
    border-radius: 0.5em!important;
    border: 1px solid white!important;
}

.visualizar div a {
    border-radius: 0.5em!important;
    background-color:#3e2723!important;
    padding: 6px 9px!important;
    color: white!important;
}

.visualizar2 div {
    padding: 0.5em !important;
    margin: 1em !important;
    display: inline-block !important;
    width: 80% !important;
    border-radius: 0.5em !important;
    border: 1px solid white !important;
}

.visualizar2 div a {
    border-radius: 0.5em !important;
    background-color: #3e2723 !important;
    padding: 6px 9px !important;
    color: white !important;
}
.catalogodiv div {
    width: 25% !important;
    display: inline-block !important;
    border-radius: 1em !important;
    border: 1px solid #0f0f0f;
    margin: 1em;
}

.p {
    border-radius: 1em;
    border: 1px solid #3e2723;
    width: 50% !important;
    font-family: Calibri;
}

.p span {
    font-size: 25px !important;

}

.catalogodiv2 {

    width: 90%;
}

.catalogodiv2 div {
    width: 70% !important;
    border-radius: 1em !important;
    border: 1px solid #0f0f0f;
    margin-bottom: 1em;
}

.catalogodiv2 div figure image {
    width: 90% !important;
}

.dv {
    display: inline-block !important;
    width: 100% !important;
}
.lk{
    width: 20%!important;
    border-radius: 1em!important;
    background-color: #122b40!important;
    display: inline-block!important;
    padding: 1em!important;
}
.lk a{
    color: white!important;
    text-decoration: none!important;
    padding: 1em!important;
}
.dvf {
    margin: 0.5em !important;
    display: inline-block !important;
    width: 10% !important;
    border: 1px solid #2b2d2f;
    color: white;
    text-align: center;
    border-radius: 1em;
    background-color: #122b40;
}
.dvf p{
    text-align: center!important;
}
.p {
    background-image: url("../img/slideAtencion.png");
    background-size: auto;
    height: 25vh;
    width: 100%;
    background-attachment: fixed;
}

.detalles {
    padding: 1em !important;
    font-size: 15px !important;
}

.vr2211 {
    margin: 1em !important;
    display: inline-block !important;
    width: 20% !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Light', SansSerif !important;
}

.c1 {
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1em;

}

.cerrado ul {
    background-color: #26a69a;
    -webkit-border-radius: 6px !important;
    border: 1px solid #2b2d2f;
    position: fixed; /* Set the navbar to fixed position */
    width: 13%; /* Full width */
    padding: 1em;
}

.cerrado ul li a {
    color: white !important;
    margin: 1em;
}

.cerrado ul li a:hover {
    border-bottom: 1px solid #2b2d2f;
}

p {
    font-size: 17px;
    text-align: justify;
}

.letra {
    font-family: 'Light', SansSerif !important;
}

.completo {
    height: 100vh !important;
}

.espacios {
    padding: 2em;
}

.y {
    width: 100%;
}

.pp {
    width: 20% !important;
}
.footer-copyright{
    background-color: #204d74!important;
    color: white!important;
}

.footer-copyright div a {
    color: white!important;
}

.footer-copyright div{
    color: white !important;
}
.manuales{
    width: 100%;
}
.manuales div{
    width: 45%!important;
    display: inline-block!important;
}


.nav {
    background-image: url("../img/banner_home_.png");
    background-size: cover;
    height: 65vh;
    width: 100%;
    color: white;
}

.wew2 {
    width: 32% !important;
    display: inline-block;
    margin-top: 0 !important;
}

.wew {
    width: 65%;
    display: inline-block;
}

.twit {
    width: 30% !important;
}

.pa {
    background-attachment: fixed;
    background-image: url("../img/slideAtencion.png");
    height: 45vh;
    background-repeat: no-repeat;
}

.anuncio_google {
    width: 320px;
    height: 420px;
}

.re {
    margin: 1em !important;
}

.ff {
    display: block;
    width: 20%;
}

.re img {
    width: 60%;
}

.resd {
    margin: 1em;
    padding: 1em;
}

.oo {
    width: 100% !important;
    margin: 1em;
    display: inline-block;
}

.oo div {
    display: inline-block !important;
    width: 45% !important;
}

.catalogo {
    width: 100%;
    display: inline-block;
}

.catalogo div {
    display: inline-block;
    width: 45%;
}

.resd img {
    margin: 0.5em;
    width: 80%;
}

.servicio {
    background-image: url("../img/548f2f7.jpg");
    background-size: cover;
    height: 50vh;
    width: 100%;
    color: white;
}

.tr {
    font-size: 18px!important;
    padding-left: 1em !important;
    background-color: white;
    color: black !important;
}

.img {
    width: 8%;
}

.res {
    border: 1px solid white;
}

.botones {
    border: 1px solid white;
    background-color: #292929;
    color: white;
    padding: 0 1em 0 1em;
}

.espacio {
    padding: 1em;
}

.h3 {
    background-color: white;
}

.for {
    margin: 2em 1em 0 0;
    width: 40%;
}

.paddin-top {
    padding-top: 2em;
}

.espacioslibres {
    padding: 2em;
}

.input {
    -webkit-border-radius: 6px !important;
    background-color: #2b2d2f !important;
    border: 1px solid white;
    text-align: center;
    color: white !important;
}

.btn1 {
    background-color: #263238;
    color: white;
    border: 1px solid white;
}

.btn1:hover {
    background-color: white;
    color: #263238;
}

.se {
    padding: 1em;
}

.res {
    width: 30%;
    display: inline-block !important;
    margin: 1em;
}

.w {
    width: 100%;
}

.sao {
    width: 100% !important;
}

.sa {
    border-radius: 1em !important;
    color: #0f0f0f;
    background-color: #3c3c3c;
}

.s {
    margin-top: 1em;
    background-color: #00bcd4;
    color: #263238;
}

.s h4 {
    padding: 1em;
}

.we {
    width: 28%;
    display: inline-block;
    margin: 1.5em;
}

.web {
    width: 40%;
    display: inline-block;
    margin: 1.5em;
}

.ca form input {
    color: #263238;
    border-bottom: 1px solid white;
}

footer {
    border-top: 1px solid #292929;
}

.marfil {
    margin: 1em;
}

/*
 ---------------------------------
      css imagenologia
 ---------------------------------
*/
.dsa {
    width: 100%;
    display: inline-block;
}

.dsaw {
    width: 30%;
}

.estaticio {
    display: flex;
}

.d {
    width: 100%;
    display: inline-block;
}

.de {
    display: inline-block;
    width: 28%;
    margin: 1em;
}

.depo {
    display: inline-block;
    width: 0%;
    margin: 1em;
}

.padi {
    padding: 4em;
}

.borde {
    border: 1px solid #5a5a5a;
}

.borde form {
    padding: 2em;
}

.fborde {
    display: inline-block;
    width: 100%;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.colo {
    background-color: #e6e6e6 !important;
}

.fborde div {
    display: inline-block;
    width: 30% !important;
    margin: 1em !important;
}

.ddd {
    display: inline-block !important;
    width: 45%;
}

.dd {
    width: 15%;
    display: inline-block !important;
}

.flex {
    background-attachment: fixed;
}

.padii {
    padding: 0.5em;
}

.cuadr {
    border: 1px solid #4e342e;
}

.nuc {
    margin-top: 0 !important;
    background-color: #3c3c3c;
}
